<!DOCTYPE html>
<html>
  <head>
    <title>ComicsAppChallenge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="logo">
        <%= image_tag 'marvel_logo.png' %>
      </div>
      <div class="search">
        <%= form_with class: 'character-search-form', url: "/search", method: :get do |form| %>
          <%= form.text_field :character_search, placeholder: 'Search by Marvel character...', class: 'character-search-input' %>
          <%= form.submit "Search" %>
        <% end %>
      </div>
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
